/client/node_modules

/client/.env
/client/build

/client/.env.local
/client/.DS_Store
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnp
/client/.pnp.js

# testing
/client/coverage