.WhatsAppButtonContainer {
    position: fixed;
    right: 50px;
    bottom: 50px;

}

.WhatsAppButton {
    border-radius: 50%;
    background-color: #25D366;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .WhatsAppLogo {
    height: 25px;
  }
  
  .WhatsAppButton:hover {
    background-color: #1DA361;
  }
  .Popup {
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-100%, -50%);
  }
  
  .PopupArrow {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
  }
  
  .PopupMessage {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-90%, -50%);
  }
  
  